// https://codepen.io/dnlzrgz/pen/LYNVyPL
.btn {
  padding: 5px 10px;
  border-radius: 5px;

  /* CSS */
  &--import,
  &--export {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    // font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    letter-spacing: 1.4px;
    line-height: normal;
    // min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    // text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
  }


  &:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }


  &:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
  }


  &:not(:disabled) {
    background-color: #6200ee;
  }

  &:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #A46BF5;
  }
}

.student-btn {
  font-size: 18px;
  cursor: pointer;
  color: black;
  background: none;
  border: none;

  &--edit {
    color: darkslateblue;
  }

  &--delete {
    color: darkred;
  }

  &--edit,
  &--delete {
    // box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    // animation: shake 0.5s ease-in-out;
    transition: filter 280ms cubic-bezier(.4, 0, .2, 1);
    // filter: drop-shadow(0px 0px 5px transparent);

    &:hover {

      i {
        animation: shake 0.5s ease-in-out;

        // filter: drop-shadow(2px 6px 5px black);
        // filter: drop-shadow(2px 3px 4px black);
        // filter: drop-shadow(0px 0px 5px #00000068);
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0 4px 5px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.12));
      }

    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

// from here

/* CSS */
.button-17 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  // font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  border: 2px solid transparent;

  &--add-csv {
    padding: 5px 10px;
  }
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  // box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);

  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  /* Example background color */
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
  /* Example hover background color */
}

// --------------------------------------------------------------------------------------------


// < !-- HTML !--><button class="button-59" role="button">Button 59</button>

/* CSS */
.button-59 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border: 2px solid #b8b8b8;
  box-sizing: border-box;
  // color: #000;  ---- - - - - - - - 
  color: #b8b8b8;
  cursor: pointer;
  // fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  // height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  i.fa-file-csv {
    color: #b8b8b8;
    transition: color .3s;
    // color: #b8b8b8;
  }
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;

  i.fa-file-csv {
    color: #06f;
  }
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}