.flash {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  // top: 5rem;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 12px;
  max-width: 100%;
  width: max-content;
  padding: 0 1rem;
  z-index: 99999;
  // background-color: green;
}

.flash__message {
  // font-size: var(--font-size-s);
  // color: #fff;
  // padding: var(--space-xs) var(--space-m);
  // background-color: #292828;
  // border: 1px solid goldenrod;
  // border: 1px solid black;
  // padding: 20px;
  // background-color: red;
  animation: appear-then-fade 4s both;
  border-radius: 999px;
  // height: 100%;
  // width: 100%;
}

.alert-box {
  // min-width: 0;
  // max-width: max-content;
  // padding: 0.5rem 0.75rem;
  // margin-bottom: 1.25rem;
  // font-weight: 500;
  // display: inline-block;
  // border-radius: 0.375rem;
  // height: 100%;
  // width: 100%;


  display: inline-block;
  min-width: 0;
  max-width: max-content;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
  background-color: #ECFDF5; /* Replace with your desired background color */
  // color: #059669; /* Replace with your desired text color */
  border-radius: 0.375rem;
  margin: 0;

  &.success {
    background-color: #ECFDF5;
    color: #059669;
  }

  &.notice {
    background-color: #FFFBEB;
    color: #B7791F;
  }

  &.error {
    background-color: #FEF2F2;
    color: #E53E3E;
  }
}

@keyframes appear-then-fade {
  0%,
  100% {
    opacity: 0;
  }

  5%,
  60% {
    opacity: 1;
  }
}

.empty-state {
  &--only-child {
    display: none;

    &:only-child {
      // stylelint-disable-next-line
      display: revert;
    }
  }
}
