<h2 class="main-content__page-name">Home / Settings</h2>
<h3 style="color: #141470;">To be added... (maybe *probably not*)</h3>
<div style="color: black; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px;">
  <h3>Current user details:</h3>
  <h4>
    <%= @user.full_name %>
    <br />
    <%= @user.email %>
  </h4>
</div>
<%# <h1>Admin::Settings#show</h1>
 <p>Find me in app/views/admin/settings/show.html.erb</p>
 %>